.containerform{
    box-sizing: border-box;
    border-radius: 0.25em;
    padding : 2em;
    width: 50%;
    margin-top: auto;
    margin : auto auto;
    border: 2px inherit solid;
    background-color: #FAFAFA;
    transition: all .3s linear;
}

.containerform input , .containerform .input-group-text {
    transition: all .3s linear;
}
.containerform .input-group:hover input{
    border-radius: 30px;
}
.containerform .input-group:hover .input-group-text{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px ;
}
.searchButton{
    border: none;
    outline: none;
    color: white;
    padding: .3rem .9rem;
    background-color: #3559E0;
    border-radius: 6px;
    transition: all .3s linear;
    }

.searchButton:hover{
    border-radius: 20px;
}

@media (max-width: 768px) {
    .containerform{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 0.2em;
        padding-left: 0.2em;
        width: 95%;
    }
}