footer{
    margin-top:auto;
    width: 100%;
    background-color: black;
    padding-top : 0.2em;
}

.icons a:hover{
    transform: scale(1.1);

    }
    .icons a{
        color: white;
        margin : 0.2em;
        transition: all ease-in-out;
    }
    .icons{
        display: flex;
        justify-content: center;
    }
    #creatorName{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 0.8em;
        font-weight: 500;
    }

    