html{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color: white;
-webkit-box-shadow: 0px 10px 74px -14px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 74px -14px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 74px -14px rgba(0, 0, 0, 0.4);
}
.navbar-nav .nav-link , .navbar-nav .nav-link:active{
    color: black!important;
}

#brandName{
    color : black;
    font-weight: 500;
}

.navbar-brand{
    font-weight: 900;
    font-size: 1.3em;
    color: black!important;
}
/* modal css */
.modal-close{
    border:0;
    background-color: white;
    font-size:2em;
}
.searchForm {
    font-size: 1.4em;
}
.input-group-text{
    height: 100%;
}
#modalButton{
    transition:all .3s ease;
}
.spinner-grow-sm {
    width: 1em;
    height: 1em;
    margin-left: 0.3em;
}

.navbar-nav-logout{
    margin-left: auto!important;
}

.logout.btn{
    color: white;
    background-color: red;
    border-radius: 7px;
    font-size: 1.2em;
    padding:.2rem .7em;
    width: 8rem;
    transition: all 0.7s linear;
}
.logout.btn:hover{
    border-radius: 50px;
    background-color: red;
    color: white!important;
}