
  .form-floating{
      width:40%;
      align-self: center;
      margin-top: 1em;
      margin-bottom: 1em;
  }

  .form-control{
    border-radius: 5px!important;
    transition: all 0.1s linear!important;
  }
  .form-control:hover , .form-control:focus{
    border:solid 1px #ced4da!important;
    box-shadow: none !important;
    border-radius: 10px !important;
  }

  .folderContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

  .folderTitle{
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 500;
  }

  button.btn.folderfile {
    min-width: 150px;
    width: 8rem;
    min-height: 105px;
    height: 6rem;
    margin: 1rem;
    position: relative;
    background-color: #708090;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
    display:flex;
    align-items : center;
    justify-content : center;
    color : white;
    font-weight : 600;
    transition: all 0.3s linear;
  }

  button.btn.folderfile:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #708090;
    position: absolute;
    top: -12px;
    left: 0px;
}

  button.btn.folderfile:hover{
    transform: scale(1.03);
  }
  
 /* media queries */
 @media(max-width:577px) {
     .form-floating{
         width: 95%;
     }
 }
 @media(max-width:320px){
   
 }

 /* making folder css */
 
.makeFolderMessage{
  color:#E63946;
  font-size: 1.2rem;
}
.messagelink{
  color:#E63946;
  text-decoration: none;
}
.messagelink:hover{
  text-decoration: underline;
  color:#E63946;
}
 