/* styling logout */
.logout {
  color: red;
  border: solid 1px red;
  background-color: white;
  border-radius: 40px;
  outline: none;
  font-size: 1.2em;
  padding: .2rem .7em;
  width: 8rem;
  transition: all 0.2s linear;
}

.logout:hover {
  color: white;
  background-color: red;
}
  
  .navbar-nav-logout{
    margin-left: auto;
  }